* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clr {
  clear: both;
}

body {
  background-color: #d2e1ff;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}

form {
  background-color: white;
  font-size: 1.2em;
  margin: auto;
  width: 703px;
  padding: 6px;
  border-radius: 1em;
  padding-bottom: 1px;
}

.step {
  background-color: #dedede;
  border-radius: 1em;
  margin-bottom: 5px;
  width: 691px;
}

.step-children {
  margin-left: 20px;
}

.form-legend {
  background-color: #eea30e;
  border-radius: 1em;
  color: #d3c5a3;
  width: 691px;
  height: 61px;
  padding-top: 20px;
  padding-left: 20px;
}

.date {
  display: inline;
  padding-right: 8px;
}

.date-input {
  width: 51px;
}

.text-input-div {
  display: inline-block;
  padding-right: 16px;
}

.text-input {
  width: 210px;
}

input {
  min-height: 42px;
  border-radius: 1em;
  border: 0px;
}

.input-component {
  padding-top: 5px;
}

select {
  min-height: 42px;
  min-width: 162px;
  border-radius: 1em;
}

label {
  font-size: 0.9em;
}

textarea {
  background-color: white;
  color: #000000;
  font-size: 1em;
  height: 10em;
  margin: 0.5em 0 1em;
  border-radius: 1em;
  resize: none;
}

button {
  background-color: #5554aa;
  border-radius: 1em;
  cursor: pointer;
  color: white;
  float: right;
  padding: 0.25em 1em;
  margin-right: 16px;
  border-bottom: 0px;
  border-right: 0px;
  height: 40px;
  width: 128px;
}

